@import url('https://fonts.googleapis.com/css?family=Ruda');
/*
	Main styles
*/
HTML {
	position: relative;
	min-height: 100%;
}
BODY {
	margin-top:80px;
}
/*
	Header
*/
NAV.navbar {
	margin-bottom:20px;
}
@media (min-width: 768px) {
	NAV.navbar .nav-item {
		border-left: 1px solid #CCE0E0;
	}
}
@media (max-width: 767px) {
	NAV.navbar .nav-item {
		border-top: 1px solid #CCE0E0;
	}
}
NAV.navbar .btn-group {
	padding-top: .425rem;
	padding-bottom: .425rem;
}
/*
	Footer
*/
FOOTER {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding:20px;
}
FOOTER .sponsors IMG {
	max-height:50px;
}
FOOTER .extrapaul {
	font-size: 0.8rem;
}
#footer-gap {
	height:80px;
}
/*
	Card
*/
.card {
	display:block; /* Bug IE 11 https://github.com/twbs/bootstrap/pull/22288 */
	border-radius: 0;
	border-color: #EEE;
	-webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 5px 5px -3px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.card .card-header {
	border-bottom-style:none;
}
.card .card-header H1,
.card .card-header H2,
.card .card-header H3 {
	margin-bottom:0;
}
/*
	Card in packery (items)
*/
.card.grid-item {
	font-size:0.8rem;
	width: 200px;
	margin: 0 5px 10px 5px;
}
.card.grid-item .card-header {
	padding: 0.5rem;
}
.card.grid-item .card-title {
	font-size:1.2rem;
	padding: 0;
	margin:0;
	overflow:hidden;
}
@media (max-width: 400px) {
	.card.grid-item {
		font-size:1rem;
		width: 90%;
		margin-left:0;
		margin-right:0;
	}
	.card.grid-item .card-title {
		font-size:1.2rem;
	}
}
.card.grid-item .card-illu {
	width:100%;
	height:200px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.card.grid-item .card-body {
	padding: 0.7rem;
}
.card.grid-item.item-r .card-header {
	background-color:#999999;
}
.card.grid-item.item-r .card-title {
	color:#FFF !important;
}
/*
	For items
*/
.item-img {
	position:relative;
}
.item-state {
	padding: 1px 3px;
	color:#FFF;
}
.grid-item .item-state,
A.grid-item .item-state {
	color:#FFF !important;
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.item-state.new {
	background-color: #009900;
}
.item-state.used {
	background-color:#FF6600;
}
.item-state.broken {
	background-color:#CC0000;
}
.item-state.request {
	background-color:#999999;
}
.item-indicators {
	position:absolute;
	top:0;
	left:0;
	display:block;
	padding: 1px 3px;
}
.item-same-street {
	cursor:help;
	background-image:url("../img/item-same-street.png");
	display:block;
	width:34px;
	height:34px;
	position:absolute;
	top:-12px;
	right:-12px;
}
.card.item-r .item-state {
	background-color:#999999;
}
.item-dialog TD {
	padding:0;
}
.item-gravatar {
	width:100px;
}
@media (max-width: 400px) {
	.item-gravatar {
		width:50px;
	}
}
.item-description-left {
	background-image:url("../img/item-description-left.png");
	background-repeat:no-repeat;
	background-position:right top;
	width:25px;
}
.item-description {
	padding:10px;
	border-bottom: solid 2px #DDDDDD;
}
/* Actions placed in a block */
.block-actions {
	position:absolute;
	top:2px;
	right:2px;
}
/*
	Link card
*/
A.card * {
	color:#333 !important;
}
A.card:hover {
	border-color: #0275d8 !important;
}
A.card:hover,
A.card:focus {
	text-decoration:none !important;
}
/*
	Paginator
*/
.paginator {
    text-align: center;
	padding-top:10px;
	margin-top:10px;
	border-top: dotted 2px #DDD;
}
.paginator UL LI {
    float: none;
    display: inline-block;
	padding: 0 5px;
	border-left: solid 1px #DDD;
}
.paginator UL LI:first-child {
	border-left-style: none;
}
.paginator P {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}
.paginator UL LI A {
    color: rgba(0, 0 ,0 , 0.54);
}
.paginator UL LI.active A {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
.paginator UL .disabled:hover A {
    background: none;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}
/*
	Override styles for messages
*/
.alert {
	border-style: none;
}
.alert-success {
	color: #1E541D;
	background-color: #78D176;
}
.alert-danger {
	color:#550000;
	background-color: #FF5151;
}
.alert-warning {
	color: #8B720A;
	background-color: #F4D65B;
}
/*
	More styles for inputs
*/
.custom-file {
	width:100%;
}
.custom-file-control:lang(fr)::before {
	content: "Parcourir";
}
.custom-file-control:lang(fr)::after {
	content: "Choisir un fichier...";
}
.form-group > LABEL {
	font-weight:bold;
}
:-ms-input-placeholder.form-control {
    color: #BBB;
    opacity: 1;
}
::-webkit-input-placeholder {
  color: #AAA !important;
  opacity:1;
}
::-moz-placeholder {
  color: #AAA !important;
  opacity:1;
}
:-ms-input-placeholder {
  color: #AAA !important;
  opacity:1;
}
::placeholder {
  color: #AAA !important;
  opacity:1;
}
/* Inline checkbox and radio */
.form-group.row > .form-check-label {
	margin-left:40px;
}
/*
	Gravatar : afficher une lettre quand il n'y a pas d'image (Gravatar renvoie une image transparente) 
*/
.gravatar {
	background-repeat:no-repeat;
	background-size: cover;	
}
NAV .gravatar {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
/* CakePHP error message */
.error-message {
	background-color: #f2dede;
	border-radius: 0.25rem;
	padding: 2px 5px;
	color: #a94442;
}
/* Image with border */
.img-border {
	padding:10px;
	border: solid 1px #EEE;
}
/*
	Contact
*/
#contact-block {
	z-index: 99999;
	position:fixed;
	right:5px;
	bottom:0;
}
#contact-toggle {
	padding: 2px 5px;
	border-radius: 4px 4px 0 0 ;
	background-color:#FF5151;
	color:#FFF;
}
#contact-block FORM {
	display:none;
	padding:10px;
	border-radius: 0 4px 0 0 ;
	background-color:#FF5151;
	width:350px;
}
@media (max-width: 400px) {
	#contact-block FORM {
		width:100%;
	}
}
/*
	Image uploading
*/
.image-upload INPUT[type="file"] {
	display: none;
}
.image-upload .image-preview {
	cursor: pointer;
	position:relative;
}
/*
	More classes
*/
.disabled {
	color: #888;
}